/* 
 * style for printing
 * especially useful for getting the report on one page
 */

@import url("fruit_style.css");

header, nav, footer{
	display: none;
}

span.reminder {
	display: none;
}

td > a {
	text-decoration: none;
	color: inherit;
}
